# Exclude everything
cmake_udm/cmake1/build/*
# Exception to the rule
!cmake1/build/.gitkeep

cmake_udm/cmake2/build/*
!cmake2/build/.gitkeep

cmake_udm/cmake3/build/*
!cmake3/build/.gitkeep

cmake_udm/cmake4/build/*
!cmake4/build/.gitkeep

cmake_udm/cmake5/build/*
!cmake5/build/.gitkeep

cmake_udm/cmake7/build/*
!cmake7/build/.gitkeep